
{% extends "base.html" %}
{% block content %}

<form class="form-signin" method="post" action="/manager/register_handle/">
    <div class="container form-login">
        {% for message in messages %}
        <div class="alert {{ message.alert }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message.value }}
        </div>
    {% endfor %}
    </div>
    <svg class="bi bi-app-indicator" width="10em" height="10em" viewBox="0 0 16 16" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"/>
        <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
    </svg>
    <h1 class="h3 mb-3 font-weight-normal">注 册</h1>
    <label for="inputEmail" class="sr-only">账号</label>
    {% csrf_token %}
    <input id="inputAccount" name="inputAccount" class="form-control" placeholder="账号" required="required" autofocus="">
    <label for="inputPassword"  class="sr-only">密码</label>
    <input id="inputPassword" name="inputPassword" class="form-control" placeholder="密码" required="required" type="password">
    <label for="inputPassword" class="sr-only">再次输入密码</label>
    <input id="inputPasswordAgain" name="inputPasswordAgain" class="form-control" placeholder="再次输入密码" required="required" type="password">
    <div class="checkbox mb-3">
        <label>
            <a href="/manager/login"> 已有账号？去登录</a>
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">注 册</button>
    <p class="mt-5 mb-3 text-muted">© 2022-至今</p>
</form>
{% endblock %}